.background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* This layer sits above interactive pebbles if their z-index is lower */
    pointer-events: none;
    overflow: hidden;
  }
  
  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
  }
  