.interactive-particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure this is above the video background (if used) but below your main content */
  pointer-events: none;
}
